localhost:80/health {
        respond {"health":"ok"} 200
}

localhost {

	respond /health {"health":"ok"} 200

	handle_path /static/* {
		file_server
	}

	reverse_proxy django:8000
	file_server /static/*
}


encode gzip




